/* .sugesstions {
    margin-top: 30px;
    margin-right: 20px;
}

.suggesstion__title {
    color: grey;
    font-weight: bold;
    margin-top: 15px;
}

.username__left {
    display: flex;
    align-items: center;
}

.username__info{
    display: flex;
    flex-direction: column;
}

.relation {
    color: gray;
    font-size: 12px;
}

.suggestion__name {
    display: flex;
    justify-content: space-between; 
    margin-top: 15px;
}

.follow__button,
.see__button {
    color: #0095f6;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.see__button {
    color: white;
}

.see__button:hover {
    color: grey;
    cursor: pointer;
}

.username{
    font-weight: 600;
    font-size: 14px;
}

.avatar{
    margin-right: 10px;
}

.follow__button:hover {
    color: white;
    cursor: pointer;
} */









.suggestions {
    margin-top: 50px;
    margin-right: 20px;
}

.suggestion__title {
    color: grey;
    font-weight: bold;
    margin-top: 15px;
}

.username__left {
    display: flex;
    align-items: center;
}

.username__info {
    display: flex;
    flex-direction: column;
}

.relation {
    color: grey;
    font-size: 12px;
}

.suggestion__name {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.follow__button,
.see__button {
    color: #0095f6;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.see__button {
    color: white;
}

.see__button:hover {
    color: grey;
}

.username {
    font-weight: 600;
    font-size: 14px;
}

.avatar {
    margin-right: 10px;
}

.follow__button:hover {
    color: white;
}

.avatar__img{
    height: 50px;
    width: auto;
    border-radius: 100px;
}