.post {
    width: 550px;
    margin: 30px 40px 50px 40px;
    border-bottom: 1px solid grey;

}
 
.post__header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    
}

.post__headerName{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
}

.avatar__post {
    margin-right: 10px;
}

.post__headerName > span {
    color: grey;
    font-size: 15px; 
}

.post__image > img {
    width: 100%;
    border-radius: 6px;
    border: 1px solid white;

}


.post__more:hover{
    cursor: pointer;
    color: #0095f6;
}

.post__footerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.postIcon{
    padding: 7px;
    font-size: 30px;
}

.postIcon:hover {
    cursor: pointer;
    color: red;
}


.liked {
    color: red;
  }
  
  .like-count {
    margin-left: 5px;
  }


.comment-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .comment-box textarea {
    resize: none;
    border: 1px solid #262626;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .comment-box button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .comment-box button:hover {
    background-color: #262626;
  }
  
